@import "src/styles/variables";

.container {
  min-width: 18em;
  max-width: 20em;
  background-color: $bg;
  padding: 8px;
  color: $text;

  &:hover {
    background-color: $bg-hover;
    color: $text-hover;
  }
}

.info {
  list-style: none;
  padding: 0;

  & > li {
    margin-bottom: 8px;
    padding: 12px 0;
    font-size: $fz-sm;
    line-height: $lh-sm;
  }
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
}
