// Colors
$main-bg: #000000;

$bg: #23252b;
$bg-hover: #141519;

$caption: #a0a0a0;

$text: #dadada;
$text-hover: #ffffff;

$action-bg: #f47521;
$action-bg-hover: #ff944d;
$action-text: $bg-hover;
$action-text-hover: $bg;

// Fonts

$fz-lg: 1.75rem;
$lh-lg: 2.25rem;

$fz-md: 1rem;
$lh-md: 1.5rem;

$fz-sm: 0.875rem;
$lh-sm: 1.125rem;

$fw-md: 500;
$fw-bold: 700;
